<h2>{{MovieData.title}}</h2>
        <p>Genre : {{MovieData.genre}}</p>

        <p>Plot : {{MovieData.plot}}</p>

        Cast :
        <p>
            <ul>
                {{#each MovieData.cast}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </p>

          <form action="/movie/{{_id}}/delete" method="post">
            <button type="submit" name="submit">Delete</button>
        </form>